{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %} {% endblock title %}</title>

        <!-- Base CSS -->
        <link rel="stylesheet" href="{% static 'structure/css/base0.css' %}" xmlns="http://www.w3.org/1999/html">
        {% block css %} {% endblock %}
        <link rel="stylesheet" href="{% static 'structure/css/base.css' %}" xmlns="http://www.w3.org/1999/html">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>

    <body>

    <!-- Header -->
    <header class="header">
        <div class="header__container">
            <div class="header__container-logo">
                <a href="{% url 'structure:login' %}"><img class="header__logo" src="{% static 'structure/icons/logo2.svg' %}" alt="logo"></a>
            </div>
                <!-- Блок навигации -->
            <nav class="header__container-nav nav-menu">
                <ul class="nav-menu__list">
                    <li class="nav-menu__list-item item-text">
                        <a class="nav-menu__text" href="{% url 'structure:structure_company' %}">структура компании</a>
                    </li>
                    <li class="nav-menu__list-item item-text">
                        <a class="nav-menu__text" href="{% url 'structure:add_employee' %}">найм и распределение сотрудников</a>
                    </li>
                    <li class="nav-menu__list-item item-text">
                        <a class="nav-menu__text" href="{% url 'structure:login' %}">выход</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

            <!-- Контент страницы -->
        {% block content %} {% endblock %}
    <footer></footer>
    </body>

    {% block script %} {% endblock script %}

</html>