{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

                <!-- Base CSS -->
        <link rel="stylesheet" href="{% static 'structure/css/base.css' %}" xmlns="http://www.w3.org/1999/html">
        <link rel="stylesheet" href="{% static 'structure/css/login.css' %}" xmlns="http://www.w3.org/1999/html">
    </head>

    <body>

    <!-- Header -->
    <header class="header">
        <div class="container header__container">
                <!-- Блок навигации -->
            <div class="header__nav-box nav-menu">
            </div>
        </div>
    </header>

        <!-- Контент страницы -->
    {% block content %} {% endblock %}

    </body>
    {% block script %} {% endblock script %}

</html>