<form method="post">
    {% csrf_token %}
<!-- Список сотрудников -->
<table>
    <thead>
    <tr>
        <!-- Заголовки столбцов таблицы -->
        <!-- Заголовок id сотрудника -->
        <th scope="col" style="width: 70px">
            <small>
                №
            </small>
        </th>

        <!-- Заголовок фамилия сотрудника -->
        <th scope="col" style="width: 165px">
            <small>
                Фамилия
                <a href="{% url 'structure:department' order_by='last_name' direction='ascend' %}">
                    <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                </a>
                <a href="{% url 'structure:department' order_by='last_name' direction='descend' %}">
                    <i class="table-icon bi bi-arrow-up-square"></i>
                </a>
            </small>
        </th>

        <!-- Заголовок имени сотрудника -->
        <th scope="col" style="width: 130px">
            <small>
                Имя
                <a href="{% url 'structure:department' order_by='first_name' direction='ascend' %}">
                    <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                </a>
                <a href="{% url 'structure:department' order_by='first_name' direction='descend' %}">
                    <i class="table-icon bi bi-arrow-up-square"></i>
                </a>
            </small>
        </th>

        <!-- Заголовок отчество сотрудника -->
        <th scope="col" style="width: 165px">
            <small>
                Отчество
                <a href="{% url 'structure:department' order_by='patronymic' direction='ascend' %}">
                    <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                </a>
                <a href="{% url 'structure:department' order_by='patronymic' direction='descend' %}">
                    <i class="table-icon bi bi-arrow-up-square"></i>
                </a>
            </small>
        </th>

        <!-- Заголовок должности сотрудника -->
        <th scope="col" style="width: 350px">
            <small>
                Должность
                {% if not position_id %}
                <a href="{% url 'structure:department' order_by='position_id' direction='ascend' %}">
                    <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                </a>
                <a href="{% url 'structure:department' order_by='position_id' direction='descend' %}">
                    <i class="table-icon bi bi-arrow-up-square"></i>
                </a>
                {% endif %}
            </small>
        </th>

        <!-- Заголовок дата приёма на работу -->
        <th scope="col" style="width: 240px">
            <small>
                Дата приёма на работу
                <a href="{% url 'structure:department' order_by='employment_date' direction='ascend' %}">
                    <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                </a>
                <a href="{% url 'structure:department' order_by='employment_date' direction='descend' %}">
                    <i class="table-icon bi bi-arrow-up-square"></i>
                </a>
            </small>
        </th>

        <!-- Заголовок зарплаты сотрудника -->
        <th scope="col" style="width: 120px">
            <small>
                Зарплата
                <a href="{% url 'structure:department' order_by='salary' direction='ascend' %}">
                    <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                </a>
                <a href="{% url 'structure:department' order_by='salary' direction='descend' %}">
                    <i class="table-icon bi bi-arrow-up-square"></i>
                </a>
            </small>
        </th>

        <!-- Заголовок кнопок действия -->
        <th scope="col" style="width: 160px">
            <small>
                Действия
            </small>
        </th>

    </tr>
    </thead>

    <!-- Список сотрудников -->
    <tbody>
        {% include "structure/employees_list.html" %}
    </tbody>
</table>
</form>
{% if paginator_range and employees.has_other_pages %}
<div class="main-section__navigation">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        <li class="page-item {% if not employees.has_previous %} disabled {% endif %}">
            <a class="page-link" href="{% if employees.has_previous %} ?page={{employees.previous_page_number }} {% else %} # {% endif %}">Предыдущая</a>
        </li>
        {% for page in paginator_range %}
            {% if page == employees.number or page == employees.paginator.ELLIPSIS %}
                <li class="page-item disabled"><a class="page-link" href="#">{{page}}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% endif %}
        {% endfor %}
        <li class="page-item {% if not employees.has_next %} disabled {% endif %}">
            <a class="page-link" href="{% if employees.has_next %} ?page={{employees.next_page_number}} {% else %} # {% endif %}">Следующая</a>
        </li>
        </ul>
    </nav>
</div>
{% endif %}
