<div class="main-section__table">
    <!-- Список сотрудников -->
    <table>
        <thead>
        <tr>
            <!-- Заголовки столбцов таблицы -->
            <!-- Заголовок id сотрудника -->
            <th scope="col" style="width: 5%">
                <small>
                    №
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='id' direction='ascend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                    </a>
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='id' direction='descend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-up-square"></i>
                    </a>
                </small>
            </th>

            <!-- Заголовок фамилия сотрудника -->
            <th scope="col" style="width: 10%">
                <small>
                    Фамилия
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='last_name' direction='ascend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                    </a>
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='last_name' direction='descend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-up-square"></i>
                    </a>
                </small>
            </th>

            <!-- Заголовок имени сотрудника -->
            <th scope="col" style="width: 10%">
                <small>
                    Имя
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='first_name' direction='ascend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                    </a>
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='first_name' direction='descend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-up-square"></i>
                    </a>
                </small>
            </th>

            <!-- Заголовок отчество сотрудника -->
            <th scope="col" style="width: 15%">
                <small>
                    Отчество
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='patronymic' direction='ascend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                    </a>
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='patronymic' direction='descend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-up-square"></i>
                    </a>
                </small>
            </th>

            <!-- Заголовок должности сотрудника -->
            <th scope="col" style="width: 20%">
                <small>
                    Должность
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='position' direction='ascend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                    </a>
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='position' direction='descend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-up-square"></i>
                    </a>
                </small>
            </th>

            <!-- Заголовок дата приёма на работу -->
            <th scope="col" style="width: 25%">
                <small>
                    Дата приёма на работу
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='employment_date' direction='ascend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                    </a>
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='employment_date' direction='descend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-up-square"></i>
                    </a>
                </small>
            </th>

            <!-- Заголовок зарплаты сотрудника -->
            <th scope="col" style="width: 12%">
                <small>
                    Зарплата
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='salary' direction='ascend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-down-square ms-1"></i>
                    </a>
                    <a href=""
                       hx-get="{% url 'structure:employees_list_sort' filter='salary' direction='descend' %}"
                       hx-target="#employees-list"
                       hx-swap="innerHTML">
                        <i class="table-icon bi bi-arrow-up-square"></i>
                    </a>
                </small>
            </th>

            <!-- Заголовок кнопок действия -->
            <th scope="col" style="width: 3%">
                <small>
                    Действия
                </small>
            </th>

        </tr>
        </thead>

        <!-- Список сотрудников -->
        <tbody id="employees-list">
        {% include "structure/employees_list.html" %}
        </tbody>

    </table>
</div>
{% if paginator_range %}
<div class="main-section__navigation">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %} ?page={{page_obj.previous_page_number }} {% else %} # {% endif %}">Предыдущая</a>
        </li>
        {% for page in paginator_range %}

            {% if page == page_obj.number or page == paginator.ELLIPSIS %}
                <li class="page-item disabled"><a class="page-link" href="#">{{page}}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% endif %}
        {% endfor %}
        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %} ?page={{page_obj.next_page_number}} {% else %} # {% endif %}">Следующая</a>
        </li>
        </ul>
    </nav>
</div>
{% endif %}