<tr>
    <!-- Ячейка фамилии сотрудника -->
    <td>
        {{ employee.last_name }}
    </td>

    <!-- Ячейка имени сотрудника -->
    <td>
        {{ employee.first_name }}
    </td>

    <!-- Ячейка отчества сотрудника -->
    <td>
        {{ employee.patronymic }}
    </td>

    <!-- Ячейка должности сотрудника -->
    <td>
        {{ employee.position }}
    </td>

    <!-- Ячейка даты приёма на работу сотрудника -->
    <td>
        {{ employee.employment_date }}
    </td>

    <!-- Ячейка зарплаты сотрудника -->
    <td>
        {{ employee.salary }}
    </td>

<!--    &lt;!&ndash; Ячейка состояния &ndash;&gt;-->
<!--    <td>-->
<!--        {% if not book.read %}-->
<!--            &lt;!&ndash; Кнопка "Unread" &ndash;&gt;-->
<!--            <button class="disbtn">-->
<!--                Unread-->
<!--            </button>-->
<!--        {% else %}-->
<!--            &lt;!&ndash; Кнопка "Read" &ndash;&gt;-->
<!--            <button class="disbtn">-->
<!--                Read-->
<!--            </button>-->
<!--        {% endif %}-->
<!--    </td>-->

    <!--  Ячейка кнопок действия -->
    <td>
        <!-- Кнопка "Edit" -->
        <button class="disbtn">
            Edit
        </button>

        <!-- Кнопка "Delete" -->
        <button class="disbtn">
            Delete
        </button>
    </td>
</tr>