<tr>
    <!-- Ячейка id сотрудника -->
    <td>
        {{ employee.id }}
    </td>

    <!-- Ячейка фамилии сотрудника -->
    <td>
        {{ employee.last_name }}
    </td>

    <!-- Ячейка имени сотрудника -->
    <td>
        {{ employee.first_name }}
    </td>

    <!-- Ячейка отчества сотрудника -->
    <td>
        {{ employee.patronymic }}
    </td>

    <!-- Ячейка должности сотрудника -->
    <td>
        {{ employee.position }}
    </td>

    <!-- Ячейка даты приёма на работу сотрудника -->
    <td>
        {{ employee.employment_date }}
    </td>

    <!-- Ячейка зарплаты сотрудника -->
    <td>
        {{ employee.salary }}
    </td>

    <!--  Ячейка кнопок действия -->
    <td>
        <!-- Кнопка "Dismiss" -->
        <button class="dismiss"
            hx-delete="{% url 'structure:delete_employee' employee.id %}"
            hx-target="closest tr"
            hx-swap="outerHTML"
            hx-confirm="Вы уверенны что хотите уволить сотрудника?" >
            Уволить
        </button>
    </td>
</tr>