<div class="main-section__table">
    <!-- Список сотрудников -->
    <table>
        <thead>
        <tr>
            <!-- Заголовки столбцов таблицы -->
            <!-- Заголовок фамилия сотрудника -->
            <th scope="col" style="width: 10%">
                <small>
                    Фамилия
                </small>
            </th>

            <!-- Заголовок имени сотрудника -->
            <th scope="col" style="width: 10%">
                <small>
                    Имя
                </small>
            </th>

            <!-- Заголовок отчество сотрудника -->
            <th scope="col" style="width: 15%">
                <small>
                    Отчество
                </small>
            </th>

            <!-- Заголовок должности сотрудника -->
            <th scope="col" style="width: 25%">
                <small>
                    Должность
                </small>
            </th>

            <!-- Заголовок дата приёма на работу -->
            <th scope="col" style="width: 15%">
                <small>
                    Дата приёма на работу
                </small>
            </th>

            <!-- Заголовок зарплаты сотрудника -->
            <th scope="col" style="width: 12%">
                <small>
                    Зарплата
                </small>
            </th>

            <!-- Заголовок кнопок действия -->
            <th scope="col" style="width: 3%">
                <small>
                    Действия
                </small>
            </th>

        </tr>
        </thead>

        <!-- Список сотрудников -->
        <tbody id="employees-list">
        {% for employee in employees %}
            {% include "structure/employee_detail.html" %}
        {% endfor %}
        </tbody>

    </table>
</div>
{% if paginator_range %}
<div class="main-section__navigation">
    <nav aria-label="Page navigation example">
        <ul class="pagination">
        <li class="page-item {% if not page_obj.has_previous %} disabled {% endif %}">
            <a class="page-link" href="{% if page_obj.has_previous %} ?page={{page_obj.previous_page_number }} {% else %} # {% endif %}">Предыдущая</a>
        </li>
        {% for page in paginator_range %}

            {% if page == page_obj.number or page == paginator.ELLIPSIS %}
                <li class="page-item disabled"><a class="page-link" href="#">{{page}}</a></li>
            {% else %}
                <li class="page-item"><a class="page-link" href="?page={{page}}">{{page}}</a></li>
            {% endif %}
        {% endfor %}
        <li class="page-item {% if not page_obj.has_next %} disabled {% endif %}">
            <a class="page-link" href="{% if page_obj.has_next %} ?page={{page_obj.next_page_number}} {% else %} # {% endif %}">Следующая</a>
        </li>
        </ul>
    </nav>
</div>
{% endif %}