{% extends 'structure/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'structure/css/login.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block content %}

<div class="login">
    <h1></h1>
<form method="post">
    {% csrf_token %}

    {{form.username}}
    {{form.password}}

    <button type="submit" class="btn btn-primary btn-block btn-large">Log in</button>
</form>
</div>

{% endblock %}

{% block script %}
    <link rel="stylesheet" href="{% static 'structure/css/structure-company.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock script %}
