<form class="main-section__form form-search" method="post">
    {% csrf_token %}
        <div class="form-search__input" style="width: 70px"><p></p></div>
        <div class="form-search__input" style="width: 165px"><p>{{form.last_name}}</p></div>
        <div class="form-search__input" style="width: 130px"><p>{{form.first_name}}</p></div>
        <div class="form-search__input" style="width: 165px"><p>{{form.patronymic}}</p></div>
        <div class="form-search__input" style="width: 350px"><p>{{form.position}}</p></div>
        <div class="form-search__input" style="width: 240px"><p>{{form.employment_date}}</p></div>
        <div class="form-search__input" style="width: 120px"><p>{{form.salary}}</p></div>
        <div class="form-search__button-box" style="width: 160px" >
            <button type="button" class="btn-x"
                hx-get="{% url 'structure:clear_search' %}"
                hx-target="closest form"
                hx-swap="outerHTML">X
            </button>
            <button type="submit" class="btn-search"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></button>
        </div>
</form>