@charset "UTF-8";
@font-face {
  font-family: "PPTSans";
  src: url("../fonts/PTSans-Regular.ttf");
  font-weight: regular;
  font-style: normal;
}

@font-face {
  font-family: "PPTSans";
  src: url("../fonts/PTSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

/* line 13, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
html {
  font-family: "PPTSans";
  font-weight: regular;
  scroll-behavior: smooth;
}

/* line 19, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
* {
  box-sizing: border-box;
}

/* line 22, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
body {
  margin: 0;
  background-color: #C6D0D7;
}

/* line 26, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.header {
  top: 0;
  height: 60px;
  background: #0F1C23;
}

/* line 30, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.header__container {
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1300px;
  margin: 0 auto;
}

/* line 37, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.header__container-logo {
  width: 580px;
}

/* line 39, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.header__container-nav {
  width: 640px;
}

/* line 41, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.header__logo {
  margin-left: 150px;
  margin-right: 300px;
  width: 130px;
}

/* line 46, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.nav-menu {
  display: flex;
  align-items: center;
}

/* line 49, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.nav-menu__list {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

/* line 54, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.nav-menu__list-item {
  margin-right: 65px;
  font-size: 16px;
}

/* line 57, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.nav-menu__list-item:last-child {
  margin-right: 0px;
}

/* line 59, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.nav-menu__text {
  color: #FF881B;
  font-family: "PPTSans";
  text-decoration: none;
}

/* line 63, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.nav-menu__text:hover {
  color: #ffaf65;
}

/* line 66, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.empty-text {
  width: 252px;
}

/* line 69, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.form-control {
  margin-bottom: 10px;
  background: #C6D0D7;
}

/* line 74, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.page-link {
  color: #000000;
}

/* line 77, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
.pagination {
  --bs-pagination-hover-color: #FF881B;
  --bs-pagination-focus-color: #FF881B;
  --bs-pagination-active-border-color: #FF881B;
}

/* line 84, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/base.sass */
footer {
  height: 50px;
}

/*# sourceMappingURL=base.css.map */