@charset "UTF-8";
/* line 1, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.main-section {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0 auto;
  margin-top: 30px;
}

/* line 9, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.main-section__search {
  margin: 0 auto;
  margin-bottom: 20px;
}

/* line 12, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.main-section__table {
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* line 16, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.main-section__navigation {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

/* line 21, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.form-search {
  width: 1400px;
  height: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* line 27, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.form-search__button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

/* line 33, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.btn-x {
  width: 35px;
  height: 30px;
  border-color: #9a9a9a;
  border-radius: 3px;
  background: #838383;
  color: white;
  font-size: 12px;
  line-height: 8px;
}

/* line 43, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.btn-search {
  width: 100px;
  height: 35px;
  border-color: #ff7b00;
  border-radius: 5px;
  background: #d88436;
  color: white;
}

/* line 51, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.btn {
  text-align: center;
  line-height: 8px;
}

/* line 55, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
input, select {
  width: calc( 100% - 10px);
  background: rgba(255, 255, 255, 0.77);
  border: none;
  outline: none;
  padding: 7px;
  font-size: 13px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(192, 192, 192, 0.2), 0 1px 1px rgba(183, 183, 183, 0.471);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}

/* line 71, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
a {
  color: #b55800;
  text-decoration: underline;
}

/* line 75, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
p {
  margin: 0;
}

/* line 78, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.readonly {
  background-color: #c5c5c5;
}

/* line 81, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
table {
  width: 1400px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* line 86, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
small {
  font-size: 15px;
  font-weight: bold;
}

/* line 90, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
th {
  vertical-align: middle;
  text-align: center;
  height: 30px;
  background-color: #b1bac0;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 98, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
td {
  padding: 5px;
}

/* line 100, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
td:nth-child(1) {
  text-align: end;
}

/* line 102, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
td:nth-child(7) {
  text-align: end;
}

/* line 106, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
tr:nth-child(even) {
  background-color: #b1bac0;
}

/* line 110, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.table__button-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

/* line 114, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.table__button-box_edit {
  height: 24px;
  background-color: #0069af;
  border-color: #0078c8;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 12px;
}

/* line 122, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.table__button-box_edit:disabled {
  background-color: #4c84aa99;
  border-color: #61abdd99;
  color: #f3f3f3f8;
}

/* line 127, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.table__button-box_dismiss {
  background-color: #d83600;
  border-color: #af2d02;
  border-radius: 5px;
  color: white;
  text-align: center;
  font-size: 12px;
}

/* line 134, ../../Users/Алексей/PycharmProjects/industrial-company-server/industrial-company/structure/static/structure/sass/department.sass */
.table__button-box_dismiss:disabled {
  background-color: #dd663fab;
  border-color: #ff774a9b;
  color: #f3f3f3f8;
}

/*# sourceMappingURL=department.css.map */