body {
  margin: 0;
  background-color: #8B959B;
}

main {
  display: block;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.text {
  color: #e3e3e3;
}

.header {
  top: 0;
  height: 50px;
  background: #0F1C23;
  padding-top: 25px;
}

.canv {
  max-width: 1440px;
  margin: 0 auto;
};

#canvas {
  display: block;
  margin: 0 auto;
};
